<!DOCTYPE html>
<html>
  <head>
    <title>Redgerd Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class = container>
    <h1 class="text-center mt-4 mb-4">Redgerd Careers</h1>
    <img class = "img-fluid"id="banner" src = "https://career-website--redgerd.repl.co/static/banner.jpg">
    <h2 class="text-center mt-2 mb 2">About Redgrd</h2>
    <p class = "lead">V=Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2 class="text-center mt-4 mb 2">Open Positions</h2>
    <p> TO-DO Show jobs here</p>
    <div class = "text-center">
    <button class = "btn btn-primary btn large" > Contact Us</button>
      <p class = "text-center mt-4">Copyright 2022, Rdgerd</p>
    <div>
  </div>
  </body>
</html>